@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Not Wordle</PageTitle>

<div id="game" tabindex="0" @onkeyup="HandleKeyUp" autofocus>
    <header>
        <div class="title"> NOT WORDLE </div>
    </header>

    <CascadingValue Value="Game">
        <GameBoard Guess="@Guess" />        
        <Keyboard OnBackspace="HandleBackspace"
                  OnSelectLetter="HandleAddLetter"
                  OnSubmit="GuessWord" />
    </CascadingValue>
    
</div>

@code {

    private Game Game { get; set; } = Game.NewGame();

    [Required, MaxLength(5), MinLength(5)]
    public string Guess { get; set; } = "";

    private void GuessWord()
    {
        if (!Words.IsValid(Guess))
            return;

        Game.MakeGuess(Guess);
        Guess = string.Empty;
    }

    private void HandleAddLetter(char letter)
    {
        if (Guess.Length == 5)
            return;

        Guess += letter;
    }

    private void HandleBackspace()
    {
        if (Guess.Length == 0) return;

        Guess = Guess.Substring(0, Guess.Length - 1);
    }

    private void HandleKeyUp(KeyboardEventArgs args)
    {
        if (args.Code == "Backspace")
            HandleBackspace();
        else if (args.Code == "Enter" || args.Code == "NumpadEnter")
            GuessWord();
        else
            HandleAddLetter(args.Key[0]);
    }
}