<div id="board-container">
    <div id="board" style="width: 350px; height: 420px;">

        @for (int i = 0; i < Game.MaxGuesses; i++)
        {
            if (i == Game.PreviousGuesses.Count)
            {
                <InputRow Guess="@Guess" />
            }
            else
            {
                <GuessRow GuessResult="@GetResult(i)" />
            }
        }

    </div>
</div>

@code {

    [CascadingParameter, EditorRequired]
    public Game Game { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Guess { get; set; } = "";

    private GuessResult? GetResult(int index)
    {
        var previousGuess = Game.PreviousGuesses.ElementAtOrDefault(index);
        return previousGuess == default ? null : previousGuess;
    }


}